@font-face {
  font-family: 'pressStart';
  src: url('fonts/prstart.ttf'); /* IE9 Compat Modes */
}

body {
	font-family: 'pressStart';
	color: #FFF;
	background-color: #000;
}

.tracker {
	margin: 30px;
}

.raceRow {
	border-top: solid 2px white;
}

.number,.triforce {
	width: 30px;
	display: inline-block;
	text-align: center;
	/*padding-top: 5px;*/
	margin: 2px;
}

.name,.nameEntry {
	width: 200px;
	display: inline-block;
	text-align: center;
}

textarea
{
	font-family: 'pressStart';
    background: transparent;
    border: none;
	color: white;
	resize: none;
}

.name:hover {
	color: red;
}

.itemsHeader {
	width: auto;
	text-align: center;
}

#addRowButton {
	cursor: pointer;
}