@font-face {
  font-family: 'pressStart';
  src: url('fonts/prstart.ttf'); /* IE9 Compat Modes */
}

body {
	font-family: 'pressStart';
	color: #FFF;
	background-color: #000;
}

.tracker {
	margin: 30px;
}

.raceRow {
	border-top: solid 2px white;
}

.number,.triforce {
	width: 30px;
	display: inline-block;
	text-align: center;
	/*padding-top: 5px;*/
	margin: 2px;
}

.triforce>path {
	fill: #ffa044;
}

.triforce.inactive>path {
	fill: none;
}

.triforce.inactive:hover>path {
	fill: #6888ff;
}

.name,.nameEntry {
	width: 200px;
	display: inline-block;
	text-align: center;
}

textarea
{
	font-family: 'pressStart';
    background: transparent;
    border: none;
	color: white;
	resize: none;
}

.name:hover {
	color: red;
}

.itemsHeader {
	width: auto;
	text-align: center;
}

#addRowButton {
	cursor: pointer;
}

.index {
	margin: auto;
	margin-top: 100px;
	width: 50%;
}

.footer {
	font-size: 0.75em;
	color: #AAA;
	text-align: center;
	border-top: dotted 2px #AAA;
	width: 50%;
	margin: auto;
}

a {
	color: #FF0;
}

a:visited{
	color: #FC0;
}